.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/rubik-v20-cyrillic-regular.woff") format("woff"),
          url("../fonts/rubik-v20-cyrillic-regular.woff2") format("woff2");
        
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik-v20-cyrillic-500.woff2") format("woff2"),
        url("../fonts/rubik-v20-cyrillic-500.woff") format("woff");
    
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Rubik" , "Arial" , sans-serif;
    font-weight: 400;
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header-wrapper{
    background-color: #F6F6F6;
}

.header-top{
    width: 1180px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-start{
    display: flex;
    align-items: center;
}

.currency-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.currency-list-item{
    margin-left: 25px;
}

.currency-list-item-symbol{
    font-size: 16px;
    font-weight: 750;
    color:#2959CE;
}

.header-end{
    display: flex;
    align-items: center;
}

.search-input{
    width: 275px;
    display: flex;
    align-items: center;
    padding: 13px 20px 13px 41px;
    background-color: #FFFFFF;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 15px, center;
    border-radius: 60px;
    outline: transparent;
    transition: 0.2s;
    border: none;
}

.search-input:focus{
    box-shadow: 0px 0px 3px 0px #7296EC;
    transition: 0.2s;
}

.searchbar-list-item-lang{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    background-color:#DCE6FF;
    border-radius: 40px;
    margin: 0px 25px;
    padding: 3px 10px 3px 3px;
}

.lang-uz{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 50%;
    background-color: #fff;
}

.lang-ru{
    opacity: 0.5;
    font-size: 13px;
}

.header-btn-link{
    text-decoration: none;
    padding: 13px 20px;
    background: #7296EC;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

/* Nav start */

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 30px 0px 20px 0px;
    border-bottom: 1px solid #D1D1D1;
}

.nav-list-item a{
    color: #7F7F7F;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}

/* Info  */

.info{
    display: flex;
}

.info-start {
    width: 797px;
    border-bottom: 1px solid#D2D2D2;
    margin-bottom: 60px;
    padding-bottom: 50px;
}

.info-title{
    font-size: 26px;
    font-weight: 500;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo-wrapper::before{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../images/small-icon6.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}

.logo{
    font-size: 14px;
    color:#5E5F61;
    margin-left: 10px;
}

.info-text{
    font-size: 20px;
    line-height: 30px;
}

.world-news-list-wrapper{
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px 17px;
}

.world-end-list{
    list-style: none;
    padding: 0;
}

.world-end-list-main-title{
    margin: 0px 0px 25px 0px;
    font-weight: 500;
}

.world-list-item-end-title{
    margin: 0px 0px 25px 0px;
    font-weight: 500;

}

.world-list-item-end-subtitle{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.world-list-end-text{
    margin: 0;
    font-size: 13px;
}

.world-end-list-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.world-end-list-item:last-child{
    margin: 0;
}

.world-end-list-item:last-child{
    border: none;
    padding: 0;
}
.aside-olmos{
    margin-left: 10px;
}


/* Your interest */

.your-interest-title{
    font-size: 24px;
    font-weight: 500;
}

.your-interest-list{
    display: flex;
    padding: 0;
    margin-bottom: 100px;
}

.your-interest-list-item{
    width: 393px;
    margin-right: 10px;
    padding: 18px;
    list-style: none;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.your-interest-list-item:last-child{
    margin-right: 0;
    padding-right: 39px;
}

.interest-subtitle{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.interest-text{
    color:#4A4B4C;
}

.interest-logo-wrapper{
    display: flex;
    align-items: center;
}

.interest-logo-wrapper::before{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/little-icon3.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    content: "";
}

.lenta::before{
    background-image: url("../images/little-icon4.png");
}

.tarantas::before{
    background-image: url("../images/little-icon5.png");
}


/* Footer start */
.footer-wrapper{
    background-color: #7296EC;
}

.footer{
    width: 1180px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 45px;
}

.footer-top-item{
    display: flex;
    justify-content: space-between;
}

.footer-text-p{
    width: 229px;
    font-size: 12px;
    color: #fff; 
    margin-bottom: 58px;  
}

.footer-list-start{
    list-style: none;
    font-size: 18px;
    color: #fff;
}

.footer-list-start-item{
    margin-top: 20px;
}

.footer-list-start-item:nth-child(1){
    margin-top: 0;
}

.footer-item-link{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.footer-list-end{
    list-style: none;
    font-size: 18px;
    color: #fff;
}

.footer-list-end-item{
    margin-top: 20px;
}

.footer-list-end-item:nth-child(1){
    margin-top: 0;
}

.footer-seperator{
    width: 100%;
    height: 1px;
    margin: 30px 0px 20px 0px;
    background-color:#CECECE;
}

.footer-bottom-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-wrapper{
    width: 160px;
}

.copyright{
    color: #fff;
    font-size: 18px;
}

.footer-list-icon{
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-list-icon-item{
    margin-right: 20px;
}

.footer-list-icon-item:last-child{
    margin-right: 0;
}