
@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/rubik-v20-latin-regular.woff") format("woff"),
          url("../fonts/rubik-v20-latin-regular.woff2") format("woff2");
        
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik-v20-latin-500.woff") format("woff"),
    url("../fonts/rubik-v20-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/rubik-v20-cyrillic-regular.woff") format("woff"),
          url("../fonts/rubik-v20-cyrillic-regular.woff2") format("woff2");
        
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik-v20-cyrillic-500.woff") format("woff"),
    url("../fonts/rubik-v20-cyrillic-500.woff2") format("woff2");
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Rubik" , "Arial" , sans-serif;
    font-weight: 400;
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

.header-wrapper{
    background-color: #F6F6F6;
}

.header-top{
    width: 1180px;
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header-start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.currency-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.currency-list-item{
    margin-left: 25px;
}

.currency-list-item-symbol{
    font-size: 16px;
    font-weight: 750;
    color:#2959CE;
}

.header-end{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-input{
    width: 275px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 20px 13px 41px;
    background-color: #FFFFFF;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 15px, center;
    border-radius: 60px;
    outline: transparent;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: none;
}

.search-input:focus{
    -webkit-box-shadow: 0px 0px 3px 0px #7296EC;
            box-shadow: 0px 0px 3px 0px #7296EC;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.searchbar-list-item-lang{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70px;
    background-color:#DCE6FF;
    border-radius: 40px;
    margin: 0px 25px;
    padding: 3px 10px 3px 3px;
}

.lang-uz{
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 13px;
    border-radius: 50%;
    background-color: #fff;
}

.lang-ru{
    opacity: 0.5;
    font-size: 13px;
}

.header-btn-link{
    text-decoration: none;
    padding: 13px 20px;
    background: #7296EC;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

/* Nav start */

.nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 40px;
    padding: 30px 0px 20px 0px;
    border-bottom: 1px solid #D1D1D1;
}

.nav-list-item a{
    color: #7F7F7F;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}

.shop-me{
    margin-bottom: 60px;
}


/* News page start */

.news-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 40px 0px 0px 0px;
    padding: 0;
}

.news-list-item{
    width: 393px;
    margin: 10px 10px 0px 0px;
    padding: 20px 43px 15px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.news-list-item:nth-child(3){
    margin-right: 0px;
}

.news-list-item:last-child{
    margin-right: 0px;
}

.news-subtilte{
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    padding-right: 20px;
}

.news-list-item-text{
    color: #4A4B4C;
}

.news-list-item-end{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0px 0px 0px;
}

.news-list-item-end::before{
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../images/flagin.png");
    content: "";
}

.wheat::before{
    background-image: url("../images/little-icon.png");
}

.xaytek::before{
    background-image: url("../images/little-icon2.png");
}

.digger::before{
    background-image: url("../images/little-icon3.png");
}

.lenta::before{
    background-image: url("../images/little-icon4.png");
}

.tarantas::before{
    background-image: url("../images/little-icon5.png");
}

.tacc::before{
    background-image: url("../images/little-icon6.png");
}

.rbk::before{
    background-image: url("../images/little-icon7.png");
}

.solenko::before{
    background-image: url("../images/small-icon6.png");
}




.news-list-item-bottom-text{
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
    color: #5E5F61;
}



/* Article */

.article{
    width: 1050px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../images/notification-background.png");
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0px 70px 0px 30px;
}

.article-title{
    width: 404px;
}

.article-title h3{
    font-weight: 500;
}

.article-btn{
    text-decoration: none;
    padding: 13px 30px;
    background: #F78B3B;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

/* World news start */

.world-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 100px;
}

.world-title{
    font-size: 28px;
    line-height: 28px;
    margin-top: 60px;
}

.world-start-list{
    padding: 0;
    margin: 0;
}

.world-start-list-item{
    width: 797px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.world-start-list-item:first-child{
    margin-top: 0px;
}

.world-sart-item-wrapper{
    margin-left: 15px;
}

.world-start-item-heading{
    font-family: "Rubik";
    font-weight: 900;
    font-size: 20px;
}

.world-start-item-link{
    text-decoration: none;
    color: #000;
}

.world-start-item-link h3{
    margin: 0;
    font-weight: 500;
}

.show-more-wrapper{
    margin-top: 40px;
}

.show-more{
    text-decoration: none;
    padding: 17px 343px;
    background-color:#EAEAEA;
    border-radius: 10px;
    color: #000;
    font-weight: 500;
}

.world-news-list-wrapper{
    width: 393px;
    background: #F6F6F6;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px 17px;
}
.world-end-list{
    padding: 0;
    list-style: none;
}

.world-end-list-main-title{
    font-size: 24px;
    margin: 0px 0px 25px 0px;
    font-weight: 500;
}

.world-list-item-end-title{
    margin: 0px 0px 25px 0px;
    font-weight: 550;

}

.world-list-item-end-subtitle{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 550;
}

.world-list-end-text{
    margin: 0;
    font-size: 13px;
}

.world-end-list-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}

.world-end-list-item:last-child{
    margin: 0;
}

.world-end-list-item:last-child{
    border: none;
    padding: 0;
}
.aside-olmos{
    margin-left: 10px;
}

/* Footer start */
.footer-wrapper{
    background-color: #7296EC;
}

.footer{
    width: 1180px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 45px;
}

.footer-top-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-text-p{
    width: 229px;
    font-size: 12px;
    color: #fff; 
    margin-bottom: 58px;  
}

.footer-list-start{
    list-style: none;
    font-size: 18px;
    color: #fff;
}

.footer-list-start-item{
    margin-top: 20px;
}

.footer-list-start-item:nth-child(1){
    margin-top: 0;
}

.footer-item-link{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.footer-list-end{
    list-style: none;
    font-size: 18px;
    color: #fff;
}

.footer-list-end-item{
    margin-top: 20px;
}

.footer-list-end-item:nth-child(1){
    margin-top: 0;
}

.footer-seperator{
    width: 100%;
    height: 1px;
    margin: 30px 0px 20px 0px;
    background-color:#CECECE;
}

.footer-bottom-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.copyright-wrapper{
    width: 160px;
}

.copyright{
    color: #fff;
    font-size: 18px;
}

.footer-list-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
}

.footer-list-icon-item{
    margin-right: 20px;
}

.footer-list-icon-item:last-child{
    margin-right: 0;
}